:root {
  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --background-color: 189, 255, 0;
  --type-color-black: rgba(var(--black));
  --type-color-white: rgba(var(--white));
  --color-black-opacity: rgba(var(--black), 0.75);
}

@font-face {
  font-family: "pp_neue_montrealbold";
  src: url("../neue-montreal/ppneuemontreal-bold-webfont.woff2") format("woff2"), url("../neue-montreal/ppneuemontreal-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pp_neue_montrealbook";
  src: url("../neue-montreal/ppneuemontreal-book-webfont.woff2") format("woff2"), url("../neue-montreal/ppneuemontreal-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pp_neue_montrealmedium";
  src: url("../neue-montreal/ppneuemontreal-medium-webfont.woff2") format("woff2"), url("../neue-montreal/ppneuemontreal-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.display-3 {
  font-size: 64px;
  font-family: "pp_neue_montrealbook";
}

.display-5 {
  font-size: 42px;
  font-family: "pp_neue_montrealbook";
}

.display-6 {
  font-size: 36px;
  font-family: "pp_neue_montrealbook";
}

.lead-3 {
  font-size: 18px;
  font-family: "pp_neue_montrealmedium";
}

.body-1 {
  font-size: 16px;
  font-family: "pp_neue_montrealbook";
  line-height: 1.5;
}

.body-1-bold {
  font-size: 16px;
  font-family: "pp_neue_montrealmedium";
}

button {
  border: none;
  padding: 1em;
  background-color: rgba(var(--black), 0.75);
  font-size: 18px;
  font-family: "pp_neue_montrealmedium";
}

button:hover {
  transition: 2000;
  background-color: rgba(var(--black), 0.5);
  transition: 0.5s;
}

.gate button {
  width: 178px;
  height: 178px;
  border-radius: 100%;
}

.begin-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 346px;
  left: 9px;
}

input {
  background: none;
  box-sizing: border-box;
  width: 100%;
  padding: 16px 0;
  text-align: center;
  border-radius: 16px;
  border: solid 2px var(--type-color-black);
  transition: background 0.5s;
}

input:focus {
  background: rgba(var(--black), 0.75);
  color: var(--type-color-white);
}

input::-moz-placeholder, input[type=date]::-moz-placeholder, input[type=time]::-moz-placeholder {
  color: var(--type-color-black);
  font-size: 16px;
  font-family: "pp_neue_montrealbook";
  line-height: 1.5;
  -moz-transition: color 0.5s;
  transition: color 0.5s;
}

input::placeholder,
input[type=date]::placeholder,
input[type=time]::placeholder {
  color: var(--type-color-black);
  font-size: 16px;
  font-family: "pp_neue_montrealbook";
  line-height: 1.5;
  transition: color 0.5s;
}

input:focus::-moz-placeholder {
  color: rgba(var(--white), 0.5);
}

input:focus::placeholder {
  color: rgba(var(--white), 0.5);
}

input[type=date],
input[type=time] {
  padding-left: 24px;
  padding-right: 24px;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background: rgb(var(--background-color));
}

#entry-screen {
  margin: 48px 0px;
}

#workout-option-screen {
  margin-top: 24px;
}

.introductions {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}
.introductions .text-line-1,
.introductions .text-line-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 48px;
  margin: 0px;
}
.introductions h1 {
  padding: 0px;
  margin: 0px;
}

.gate {
  position: relative;
  margin: 0 48px;
}

.vertical-text {
  position: absolute;
  rotate: 90deg;
  top: 150px;
  left: -130px;
}

.motivation-section {
  position: absolute;
  left: 188px;
  top: 205px;
}
.motivation-section p {
  padding: 0px;
  margin: 0px;
}
.motivation-section .body-1-bold {
  text-align: right;
}

.always-up-arrow {
  position: absolute;
  left: 325px;
}

.circle-group-1 {
  position: absolute;
  top: -144px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  min-width: 48px;
}

.circle-group-2 {
  position: absolute;
  top: 84px;
  left: 90px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 16px;
}

.workout-selector .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}

.carousel svg {
  height: 275px;
  width: 100%;
}

.carousel svg:first-child {
  margin-left: 0px;
}

.vertical-crop-mark-wrapper {
  display: flex;
  justify-content: center;
  height: 56px;
}
.vertical-crop-mark-wrapper .top-crop-mark {
  position: relative;
  padding-bottom: 32px;
}
.vertical-crop-mark-wrapper .bottom-crop-mark {
  position: relative;
  padding-top: 32px;
}

.horizontal-crop-mark-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  position: relative;
  top: 140px;
}

.indicator-dots {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  padding: 24px 0px;
}
.indicator-dots .dot {
  padding: 0px;
  margin: 0px;
}

.activated-content .inactive-dot {
  display: none;
}
.activated-content .active-dot {
  display: block;
}

.inactivated-content .inactive-dot {
  display: block;
}
.inactivated-content .active-dot {
  display: none;
}

.inactive-workout-desc {
  display: none;
}

.active-workout-desc {
  display: flex;
}

.workout-desc {
  flex-direction: row;
  padding: 0px 24px;
  gap: 48px;
}
.workout-desc .text-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.workout-desc h1,
.workout-desc p {
  padding: 0px;
  margin: 0px;
  text-align: justify;
}
.workout-desc button {
  border-radius: 50px;
}

.date-and-time-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 0 24px;
}
.date-and-time-option .start-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
  border-radius: 24px;
}

.start-button-wrapper {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

.date-and-time-tittle-wrapper h1 {
  margin: 0px;
}

.date-and-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 100%;
}
.date-and-time .dnt-forum {
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 100%;
}
.date-and-time input {
  height: 56px;
}
.date-and-time h1,
.date-and-time p {
  padding: 0px;
  margin: 0px;
}

.workout-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  height: 722px;
  padding: 0 24px;
}
.workout-option .button-wrapper {
  display: flex;
  gap: 16px;
  width: 100%;
  padding-bottom: 24px;
}
.workout-option .button-wrapper button {
  width: 100%;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
}

.workout-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.workout-header .small-workout-icon-wrapper {
  padding-top: 24px;
}

.workout-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
}

.current-workout-input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 100%;
}
.current-workout-input-section .wnr-forum {
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 100%;
}
.current-workout-input-section h1,
.current-workout-input-section p {
  padding: 0px;
  margin: 0px;
}

.current-workout,
.previous-workout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.current-workout .current-stats,
.current-workout .previous-stats,
.previous-workout .current-stats,
.previous-workout .previous-stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.current-workout .section-crop-marks,
.previous-workout .section-crop-marks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 380px;
  position: relative;
  bottom: 47px;
}
.current-workout p,
.current-workout h1,
.previous-workout p,
.previous-workout h1 {
  padding: 0px;
  padding: 0px;
  margin: 0px;
  margin: 0px;
}

#finish-screen {
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 24px;
}
#finish-screen h1, #finish-screen h2 {
  padding: 0px;
  margin: 0px;
  text-align: center;
}
#finish-screen .tittle-wrapper {
  width: 100%;
}
#finish-screen .section-crop-marks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 380px;
  position: relative;
  bottom: 24px;
}
#finish-screen .restart-button-wrapper {
  width: 100%;
}
#finish-screen .restart-button-wrapper button {
  width: 100%;
  display: flex;
  gap: 8px;
  justify-content: center;
  border-radius: 24px;
}

.big-circle {
  animation: big-shrinkage 2.5s linear forwards;
  animation-iteration-count: infinite;
}

@keyframes big-shrinkage {
  0% {
    width: 48px;
  }
  50% {
    width: 42px;
  }
  100% {
    width: 48px;
  }
}
.medium-circle {
  animation: medium-shrinkage 2.5s linear;
  animation-iteration-count: infinite;
}

@keyframes medium-shrinkage {
  0% {
    width: 28px;
  }
  50% {
    width: 32px;
  }
  100% {
    width: 28px;
  }
}
.small-circle {
  animation: small-shrinkage 2.5s linear;
  animation-iteration-count: infinite;
}

@keyframes small-shrinkage {
  0% {
    width: 16px;
  }
  50% {
    width: 12px;
  }
  100% {
    width: 16px;
  }
}
.curved-line {
  stroke-dasharray: 908;
  stroke-dashoffset: 50;
  animation: curved-line-broken-stroke 5s linear;
  animation-iteration-count: infinite;
}

@keyframes curved-line-broken-stroke {
  0% {
    stroke-dasharray: 908;
    stroke-dashoffset: 50;
  }
  50% {
    stroke-dasharray: 908;
    stroke-dashoffset: 28;
  }
  100% {
    stroke-dasharray: 908;
    stroke-dashoffset: 50;
  }
}
.always-up-arrow {
  top: 0;
  animation: arrow-movement 2.5s linear;
  animation-iteration-count: infinite;
}

@keyframes arrow-movement {
  0% {
    top: 0px;
  }
  50% {
    top: 8px;
  }
  100% {
    top: 0px;
  }
}
.horizontal-crop-mark-wrapper {
  padding: 0 24px;
  animation: horizontal-crop-mark-movement 2.5s linear;
  animation-iteration-count: infinite;
}

@keyframes horizontal-crop-mark-movement {
  0% {
    padding: 0 24px;
  }
  50% {
    padding: 0 48px;
  }
  100% {
    padding: 0 24px;
  }
}
.top-crop-mark {
  animation: vertical-top-crop-mark-wrapper 2.5s linear;
  animation-iteration-count: infinite;
}

@keyframes vertical-top-crop-mark-wrapper {
  0% {
    top: 0px;
  }
  50% {
    top: 16px;
  }
  100% {
    top: 0px;
  }
}
.bottom-crop-mark {
  animation: vertical-bottom-crop-mark-wrapper 2.5s linear;
  animation-iteration-count: infinite;
}

@keyframes vertical-bottom-crop-mark-wrapper {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: 16px;
  }
  100% {
    bottom: 0px;
  }
}/*# sourceMappingURL=style.css.map */