@font-face {
  font-family: "pp_neue_montrealbold";
  src: url("../neue-montreal/ppneuemontreal-bold-webfont.woff2") format("woff2"), url("../neue-montreal/ppneuemontreal-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pp_neue_montrealbook";
  src: url("../neue-montreal/ppneuemontreal-book-webfont.woff2") format("woff2"), url("../neue-montreal/ppneuemontreal-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pp_neue_montrealmedium";
  src: url("../neue-montreal/ppneuemontreal-medium-webfont.woff2") format("woff2"), url("../neue-montreal/ppneuemontreal-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.display-3 {
  font-size: 64px;
  font-family: "pp_neue_montrealbook";
}

.display-5 {
  font-size: 42px;
  font-family: "pp_neue_montrealbook";
}

.display-6 {
  font-size: 36px;
  font-family: "pp_neue_montrealbook";
}

.lead-3 {
  font-size: 18px;
  font-family: "pp_neue_montrealmedium";
}

.body-1 {
  font-size: 16px;
  font-family: "pp_neue_montrealbook";
  line-height: 1.5;
}

.body-1-bold {
  font-size: 16px;
  font-family: "pp_neue_montrealmedium";
}

#gradient-canvas {
  width: 100%;
  height: 100%;
  --gradient-color-1: #FC4937;
  --gradient-color-2: #FE7A1A;
  --gradient-color-3: #FFE91F;
  --gradient-color-4: #FFE7D9;
  position: fixed;
  top: 0;
  z-index: -1000;
}

button {
  border: none;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
}

button:hover {
  transition: 2000;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.gate button {
  width: 178px;
  height: 178px;
  border-radius: 100%;
}

.go-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.content-wrapper-dip {
  margin: 24px 0;
}

.introductions {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}
.introductions .text-line-1,
.introductions .text-line-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 48px;
  margin: 0px;
}
.introductions h1 {
  padding: 0px;
  margin: 0px;
}

.gate {
  position: relative;
  margin: 0 48px;
}

.go-button {
  position: absolute;
  top: 431px;
  left: 8px;
}

.vertical-text {
  color: #000000;
  position: absolute;
  rotate: 90deg;
  top: 174px;
  left: -145px;
}

.text-block-1 {
  position: absolute;
  left: 188px;
  top: 291px;
}
.text-block-1 p {
  padding: 0px;
  margin: 0px;
}
.text-block-1 .body-1-bold {
  text-align: right;
}

.fpl-02 {
  position: absolute;
  left: 315px;
}

.circle-group-1 {
  position: absolute;
  top: -144px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.circle-group-2 {
  position: absolute;
  top: 84px;
  left: 90px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 16px;
}

.workout-selector .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}

.carousel img {
  height: 275px;
  width: 100%;
}

.carousel img:first-child {
  margin-left: 0px;
}

.vertical-crop-mark-wrapper {
  display: flex;
  justify-content: center;
}
.vertical-crop-mark-wrapper .top-crop-mark {
  padding-bottom: 32px;
}
.vertical-crop-mark-wrapper .bottom-crop-mark {
  padding-top: 32px;
}

.horizontal-crop-mark-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  position: relative;
  top: 140px;
}

.indicator-dots {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
}
.indicator-dots .dot {
  padding: 0px;
  margin: 0px;
}

.activated-content .inactive-dot {
  display: none;
}
.activated-content .active-dot {
  display: block;
}

.inactivated-content .inactive-dot {
  display: block;
}
.inactivated-content .active-dot {
  display: none;
}

.inactive-workout-desc {
  display: none;
}

.active-workout-desc {
  display: flex;
}

.workout-desc {
  flex-direction: row;
  padding: 0px 24px;
  gap: 48px;
}
.workout-desc .text-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.workout-desc h1,
.workout-desc p {
  padding: 0px;
  margin: 0px;
  text-align: justify;
}
.workout-desc button {
  border-radius: 50px;
}/*# sourceMappingURL=style.css.map */