// ::::: Fonts used :::::
@font-face {
    font-family: 'pp_neue_montrealbold';
    src: url('../neue-montreal/ppneuemontreal-bold-webfont.woff2') format('woff2'),
         url('../neue-montreal/ppneuemontreal-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pp_neue_montrealbook';
    src: url('../neue-montreal/ppneuemontreal-book-webfont.woff2') format('woff2'),
         url('../neue-montreal/ppneuemontreal-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pp_neue_montrealmedium';
    src: url('../neue-montreal/ppneuemontreal-medium-webfont.woff2') format('woff2'),
         url('../neue-montreal/ppneuemontreal-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
// ::::: Fonts used :::::


// ::::: Font styling :::::
.display-3 {
    font-size: 64px;
    font-family: 'pp_neue_montrealbook';
}
.display-5 {
    font-size: 42px;
    font-family: 'pp_neue_montrealbook';
}
.display-6 {
    font-size: 36px;
    font-family: 'pp_neue_montrealbook';
}
.lead-3 {
    font-size: 18px;
    font-family: 'pp_neue_montrealmedium';
}
.body-1 {
    font-size: 16px;
    font-family: 'pp_neue_montrealbook';
}
.body-1-bold {
    font-size: 16px;
    font-family: 'pp_neue_montrealmedium';
}
// ::::: Font styling :::::

// ::::: Gradient :::::
#gradient-canvas {
    width:100%;
    height:100%;
    --gradient-color-1: #FC4937; 
    --gradient-color-2: #FE7A1A; 
    --gradient-color-3: #FFE91F;  
    --gradient-color-4: #FFE7D9;
    position: fixed;
    top: 0;
    z-index: -1000;
  }
// ::::: Gradient :::::  

// ::::: Input styling :::::
button {
    border: none;
    padding: 1em;
    background-color: rgba($color: #000000, $alpha: .75);
    color: white;
}
button:hover {
    transition: 2000;
    background-color: rgba($color: #000000, $alpha: .50);
    transition: 0.5s;
}
.gate button {
    width: 178px;
    height: 178px;
    border-radius: 100%;
}
.go-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
// ::::: Input styling :::::

// ::::: Enterance page styling :::::
body {
    margin: 0px;
    padding: 0px;
}
.content-wrapper-dip {
    margin: 48px 0;
}
.introductions {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
    .text-line-1,
    .text-line-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 48px;
        margin: 0px;
    }
    h1 {
        padding: 0px;
        margin: 0px;
    }
}
.gate {
    position: relative;
    margin: 0 48px;
}
.go-button {
    position: absolute;
    top: 431px;
    left: 8px;
}
.vertical-text {
    color: #000000;
    position: absolute;
    rotate: 90deg;
    top: 174px;
    left: -145px;
}
.text-block-1 {
    position: absolute;
    left: 188px;
    top: 291px;
    p {
        padding: 0px;
        margin: 0px;
    }
    .body-1-bold {
        text-align: right;
    }
}
.fpl-02 {
    position: absolute;
    left: 315px;
}
.circle-group-1 {
    position: absolute;
    top: -144px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.circle-group-2 {
    position: absolute;
    top: 84px;
    left: 90px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 16px;
}
// ::::: Enterance page styling :::::