// ::::: Fonts used :::::
@font-face {
    font-family: 'pp_neue_montrealbold';
    src: url('../neue-montreal/ppneuemontreal-bold-webfont.woff2') format('woff2'),
         url('../neue-montreal/ppneuemontreal-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pp_neue_montrealbook';
    src: url('../neue-montreal/ppneuemontreal-book-webfont.woff2') format('woff2'),
         url('../neue-montreal/ppneuemontreal-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pp_neue_montrealmedium';
    src: url('../neue-montreal/ppneuemontreal-medium-webfont.woff2') format('woff2'),
         url('../neue-montreal/ppneuemontreal-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pp_neue_montrealthin';
    src: url('../neue-montreal/ppneuemontreal-thin-webfont.woff2') format('woff2'),
         url('../neue-montreal/ppneuemontreal-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// ::::: Fonts used :::::


// ::::: Font styling :::::
.display-3 {
    font-size: 64px;
    font-family: 'pp_neue_montrealthin';
}
.display-5 {
    font-size: 42px;
    font-family: 'pp_neue_montrealbook';
}
.display-6 {
    font-size: 36px;
    font-family: 'pp_neue_montrealbook';
}
.lead-3 {
    font-size: 18px;
    font-family: 'pp_neue_montrealmedium';
}
.body-1 {
    font-size: 16px;
    font-family: 'pp_neue_montrealbook';
    line-height: 1.5;
}
.body-1-bold {
    font-size: 16px;
    font-family: 'pp_neue_montrealmedium';
}
// ::::: Font styling :::::

// ::::: Gradient :::::
#gradient-canvas {
    width:100%;
    height:125%;
    --gradient-color-1: #FC4937; 
    --gradient-color-2: #FE7A1A; 
    --gradient-color-3: #FFE91F;  
    --gradient-color-4: #FFE7D9;
    position: fixed;
    top: -48px;
    z-index: -1000;
  }
// ::::: Gradient :::::  

// ::::: Input styling :::::
button {
    border: none;
    padding: 1em;
    background-color: rgba($color: #000000, $alpha: .75);
    color: white;
    font-size: 18px;
    font-family: 'pp_neue_montrealmedium';
}
button:hover {
    transition: 2000;
    background-color: rgba($color: #000000, $alpha: .50);
    transition: 0.5s;
}
.gate button {
    width: 178px;
    height: 178px;
    border-radius: 100%;
}
.go-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input {
    background: none;
    box-sizing: border-box;
    width: 100%;
    padding: 16px 0;
    text-align: center;
    border-radius: 16px;
    border: solid 2px #000000;
    color: #000000;     
    transition: background .5s;
}
input:focus {
    background: rgba($color: #000000, $alpha: .75);
    color: #fff;
}
input::placeholder {
    color: black;
    font-size: 16px;
    font-family: 'pp_neue_montrealbook';
    line-height: 1.5;
    transition: color .5s;
}
input:focus::placeholder {
    color: rgba($color: #ffffff, $alpha: .50);
}
// ::::: Input styling :::::

// ::::: Enterance page styling :::::
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: blue;
    min-height: 100vh;
}
.content-wrapper-dip {
    margin: 24px 0;
}
.introductions {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
    .text-line-1,
    .text-line-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 48px;
        margin: 0px;
    }
    h1 {
        padding: 0px;
        margin: 0px;
    }
}
.gate {
    position: relative;
    margin: 0 48px;
}
.go-button {
    position: absolute;
    top: 431px;
    left: 8px;
}
.vertical-text {
    color: #000000;
    position: absolute;
    rotate: 90deg;
    top: 174px;
    left: -145px;
}
.text-block-1 {
    position: absolute;
    left: 188px;
    top: 291px;
    p {
        padding: 0px;
        margin: 0px;
    }
    .body-1-bold {
        text-align: right;
    }
}
.fpl-02 {
    position: absolute;
    left: 315px;
}
.circle-group-1 {
    position: absolute;
    top: -144px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.circle-group-2 {
    position: absolute;
    top: 84px;
    left: 90px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 16px;
}
// ::::: Enterance page styling :::::

// ::::: Carousel styling :::::
.workout-selector .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
}

.carousel img {
    height: 275px;
    width: calc(100% / 1);
    // object-fit: cover;
}

.carousel img:first-child {
    margin-left: 0px;
}
// ::::: Carousel styling :::::

// ::::: Crop marks :::::
.vertical-crop-mark-wrapper {
    display: flex;
    justify-content: center;
    .top-crop-mark {
        padding-bottom: 32px;
    }
    .bottom-crop-mark {
        padding-top: 32px;
    }
}
.horizontal-crop-mark-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    position: relative;
    top: 140px;
}
// ::::: Crop marks :::::

// ::::: Indicator dots :::::
.indicator-dots {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    padding: 48px 0px;
    .dot {
        padding: 0px;
        margin: 0px;
    }
}

.activated-content {
    .inactive-dot {
        display: none;
    }
    .active-dot {
        display: block;
    }
}

.inactivated-content {
    .inactive-dot {
        display: block;
    }
    .active-dot {
        display: none;
    }
}
// ::::: Indicator dots :::::

// ::::: Workout description :::::
.inactive-workout-desc {
    display: none;
}
.active-workout-desc {
    display: flex;
}
.workout-desc {
    flex-direction: row;
    padding: 0px 24px;
    gap: 48px; 
    .text-block {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    h1,
    p {
        padding: 0px;
        margin: 0px;
        text-align: justify;
    }
    button {
        border-radius: 50px;
    }
}
// ::::: Workout description :::::

// ::::: The workout page :::::
.workout-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    height: 100vh;
    padding: 0 24px;
    .start-button {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        gap: 4px;
        width: 100%;
        border-radius: 24px;
    }
}
.start-button-wrapper {
    display: flex;
    width: 100%;
    flex-grow: 1;
}

.workout-tittle-wrapper {
    h1 {
        margin: 0px;
    }
}

.date-and-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 100%;
    .dnt-forum {
        display: flex;
        justify-content: center;
        gap: 16px;
        width: 100%;
    }
    h1,
    p {
        padding: 0px;
        margin: 0px;
    }
}
// ::::: The workout page :::::